<!DOCTYPE html>
<html lang="ja">

<%
  var _default = json['default'];
  for ( var key in _default ) {
    if ( typeof page[key] === 'undefined' ) {
      page[key] = _default[key];
    }
  }
-%>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="description" content="<%= page['description'] %>">
  <meta name="keywords" content="<%= page['keywords'] %>">
  <meta property="og:type" content="website">
  <meta property="og:title" content="<%= page['site_name'] %>">
  <meta property="og:site_name" content="<%= page['site_name'] %>">
  <meta property="og:url" content="<%= page['url'] %>">
  <meta property="og:description" content="<%= page['description'] %>">
  <meta property="og:locale" content="ja_JP">

  <meta name="twitter:title" content="<%= page['twitter_title'] %>">
  <meta name="twitter:description" content="<%= page['twitter_description'] %>">
  <meta name="twitter:image" content="<%= page['twitter_img'] %>">

  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/style.css">

  <title><%= page['title'] %></title>
</head>
<body>
  <header class="header">
    <div class="ly_inner">
      <div class="header__left">
        <a href="/">
          <!-- <img src="img/logo.png" alt="KM holdings"> -->
        <div class="logo">KM Holdings</div>
        </a>
      </div>
      <div class="header__right forPc">
        <div class="header__right__upper">
          <a href="" class="btn">資料ダウンロード</a>
          <a href="" class="btn">お問い合わせ</a>
        </div>
        <nav class="nav forPc">
          <ul>
            <li>
              <a href="/">トップ</a>
            </li>
            <li>
              <a href="#about">会社紹介</a>
            </li>
            <li>
              <a href="#news">お知らせ</a>
            </li>
            <li>
              <a href="#products">提供サービス</a>
            </li>
            <li>
              <a href="#products">自社商品・メディア</a>
            </li>
            <li>
              <a href="/recruit/" target="_blank">採用情報</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="nav nav_area_sp forSp">
        <div class="nav_area_bg"></div>
        <button type="button" class="nav_buttom">
          <span></span>
          <span></span>
          <span></span>
        </button>
        <nav>
          <div class="logo">
            <!-- <img src="" alt="KM Holdings"> -->
            <div class="logo">KM Holdings</div>
          </div>
          <ul>
            <li><a href="/">トップ</a></li>
            <li><a href="#about">会社紹介</a></li>
            <li><a href="#news">お知らせ</a></li>
            <li><a href="#products">提供サービス</a></li>
            <li><a href="/media/">自社商品・メディア</a></li>
            <li><a href="/recruit/">採用情報</a></li>
          </ul>
          <div class="header__btn-list forSp">
            <a href="" class="btn">資料ダウンロード</a>
            <a href="" class="btn">お問い合わせ</a>
          </div>
          </nav>
        </div>
    </div>
  </header>